body {
  margin: 2px;
  padding: 2px;
  background-color: lightgrey;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 3%;
}

nav img {
  height: 40px;
}

a {
  text-decoration: none;
}

nav ul {
  display: none;
}

main {
  margin-top: 10%;
}

.starting {
  text-align: center;
}

.starting h1 {
  font-family: chicle, sans-serif;
}

.begining {
  flex-wrap: wrap;
  margin-top: 20%;
  margin-bottom: 20%;
}

.begining img {
  height: 100%;
  width: 100%;
}

.begining h5 {
  color: blue;
}

.book h1 {
  text-align: center;
  font-family: chicle, sans-serif;
}

.book h5 a {
  border: solid #04385e 1px;
  background-color: #04385e;
  color: white;
  border-radius: 5%;
}


.classes {
  flex-wrap: wrap;
  margin-bottom: 10%;
}

.classes img {
  border-radius: 2%;
}

.classes h2 {
  margin-bottom: 15%;
  font-family: chicle, sans-serif;
}

.classes h5 {
  text-align: center;
  font-size: medium;
  margin-top: 1%;
  color: #04385e;
}

.classes h4 {
  text-align: center;
  font-family: chicle, sans-serif;
  font-size: x-large;
  margin-top: -5%;
}

.classes p {
  font-size: larger;
  margin-top: -6%;
  border: solid #04385e 1px;
  width: 35%;
  margin-left: 38%;
  border-radius: 9%;
  background-color: #04385e;
  color: white;
}

.classes small {
  font-size: larger;
  margin-top: -6%;
  border: solid #04385e 1px;
  width: 35%;
  margin-left: 38%;
  border-radius: 9%;
  background-color: #04385e;
  color: white;
}

.more1 {
  background-color: white;
  width: 74%;
  padding-top: 1%;
  border-radius: 4%;
  margin-left: 12%;
  margin-bottom: 4%;
  padding-bottom: 4%;
}
.more1 img {
  width: 74%;
  margin-left: 27px;
}

.more1 small {
  text-decoration: line-through;
  font-family: lora, sans-serif;
}

.more2 {
  background-color: white;
  width: 74%;
  padding-top: 1%;
  border-radius: 4%;
  margin-left: 12%;
  margin-bottom: 4%;
  padding-bottom: 4%;
}

.more2 img {
  width: 74%;
  margin-left: 27px;
}

.more2 small {
  text-decoration: line-through;
  font-family: lora, sans-serif;
}

.more3 {
  background-color: white;
  width: 74%;
  padding-top: 1%;
  border-radius: 4%;
  margin-left: 12%;
  margin-bottom: 4%;
  padding-bottom: 4%;
}
.more3 img {
  width: 74%;
  margin-left: 27px;
}

.more3 small {
  text-decoration: line-through;
  font-family: lora, sans-serif;
}

.more4 {
  background-color: white;
  width: 74%;
  padding-top: 1%;
  border-radius: 4%;
  margin-left: 12%;
  margin-bottom: 4%;
  padding-bottom: 4%;
}

.more4 img {
  width: 74%;
  margin-left: 27px;
}

.more4 small {
  text-decoration: line-through;
  font-family: lora, sans-serif;
}

.more5 {
  background-color: white;
  width: 74%;
  padding-top: 1%;
  border-radius: 4%;
  margin-left: 12%;
  margin-bottom: 4%;
  padding-bottom: 4%;
}

.more5 img {
  width: 74%;
  margin-left: 27px;
}

.more5 small {
  text-decoration: line-through;
  font-family: lora, sans-serif;
}

.more6 {
  background-color: white;
  width: 74%;
  padding-top: 1%;
  border-radius: 4%;
  margin-left: 12%;
  margin-bottom: 4%;
  padding-bottom: 4%;
}
.more6  img {
  width: 74%;
  margin-left: 27px;
}

.more6 small {
  text-decoration: line-through;
  font-family: lora, sans-serif;
}

.more7 {
  background-color: white;
  width: 74%;
  padding-top: 1%;
  border-radius: 4%;
  margin-left: 12%;
  margin-bottom: 4%;
  padding-bottom: 4%;
}

.more7 img {
  width: 74%;
  margin-left: 27px;
}

.more7 small {
  text-decoration: line-through;
  font-family: lora, sans-serif;
}

.more8 {
  background-color: white;
  width: 74%;
  padding-top: 1%;
  border-radius: 4%;
  margin-left: 12%;
  margin-bottom: 4%;
  padding-bottom: 4%;
}

.more8 img {
  width: 74%;
  margin-left: 27px;
}

.more8 small {
  text-decoration: line-through;
  font-family: lora, sans-serif, Times, serif;
}


article {
  text-align: center;
  margin-top: 10%;
}

footer {
  text-align: center;
  gap: 2%;
  margin-top: 10%;
  background-color: #04385e;
  padding-bottom: 1px;
}

.last {
  flex-wrap: wrap;
  align-items: center;
}
.last img {
  height: 40px;
}

.last ul {
  display: flex;
  flex-direction: column;
}

.last ul a {
  color: white;
}
 .last a img {
  mix-blend-mode: multiply;
}

@media (min-width: 760px) {
  nav {
    margin: 1%;
  }

  nav img {
    height: 50px;
  }

  nav .material-symbols-outlined {
    display: none;
  }

  nav ul {
    display: flex;
    gap: 2%;
    margin-right: 2%;
  }

  nav ul a {
    color: #04385e;
  }

  nav ul a:hover {
    color: #fff;
    background-color: #04385e;
    border: solid #04385e 1px;
  }
}
