@media (max-width: 600px) {
    body {margin: 1%;
      
    }
  }

nav{
    display: flex;
    background-color: aqua; 
    font-family: monospace;
    img {
        height: 40px;
    }
}

main{
    margin-top: 10%;

}

.starting{
    text-align: center;
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    background-image: url(/image/wallp.jfif );
}

.begining{
    flex-wrap: wrap;
    img {
        height: 100%;
        width: 100%;
    }
    h5 {
        color: blue;
    }
    margin-top: 20%;
    margin-bottom: 20%;
    
}

.book{
    h1 {
        text-align: center;
    }
}

.classes{
    flex-wrap: wrap;
    margin-bottom: 10%;
    img {
        border-radius: 2%;
    }
    
}

.more1{
    img {
        height: 80%;
        width: 100%;
    }
    p2 {
        text-decoration: line-through;
    }

}

.more2{
    img {
        height: 70%;
        width: 100%;
    }
    p2 {
        text-decoration: line-through;
    }
    
    
}

.more3{
    img {
        height: 70%;
        width: 100%;
    }
    p2 {
        text-decoration: line-through;
    }
}

.more4{
    img {
        height: 100%;
        width: 100%;
    }
    p2 {
        text-decoration: line-through;
    }
}

.more5{
    img {
        height: 105%;
        width: 104%;
    }
    p2 {
        text-decoration: line-through;
    }
}

.more6{
    img {
        height: 100%;
        width: 100%;
    }
    p2 {
        text-decoration: line-through;
    }
}

.more7{
    img {
        height: 100%;
        width: 100%;
    }
    p2 {
        text-decoration: line-through;
    }
}

.more8{
    img {
        height: 100%;
        width: 100%;
    }
    p2 {
        text-decoration: line-through;
    }
}

article{
    text-align: center;
    margin-top: 10%;
}

footer{
    text-align: center;
    gap: 2%;
    margin-top: 10%;
    background-color: aqua;
    margin-bottom: -5%;
    
}

.last{
    flex-wrap: wrap;
    align-items: center;
    mix-blend-mode: multiply; 
    img {
        height: 40px;
    }
}
  